*,
*:after,
*:before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 96px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  overflow: hidden;
}
@media screen and (max-width: 960px) {
  .container {
    flex-direction: column;
    padding: 32px 18px;
  }
}

.flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.justify-between {
  justify-content: space-between;
}

.relative {
  position: relative;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-item-1 {
  flex: 1 1 360px;
}

.flex-item-2 {
  flex: 2 1 360px;
}

.flex-item-3 {
  flex: 3 1 360px;
}

.flex-item-4 {
  flex: 4 1 360px;
}

.flex-item-5 {
  flex: 5 1 360px;
}

.flex-auto {
  flex: 1 1 auto;
}

.width-auto {
  width: auto;
}

.w-100 {
  width: 100%;
}

.w-75 {
  width: 75%;
}

.w-50 {
  width: 50%;
}

.w-25 {
  width: 25%;
}

.hidden {
  overflow: hidden;
}

@media screen and (max-width: 960px) {
  .mobile-none {
    display: none;
  }
}

.hero {
  padding-top: 160px;
  padding-bottom: 40px;
  overflow: visible;
}
@media screen and (max-width: 960px) {
  .hero {
    height: auto;
  }
}

.hero__bet-score h4 {
  font-weight: 300;
}
.hero__bet-score svg {
  width: 28px;
  height: 28px;
  filter: drop-shadow(0px 51px 80px rgba(60, 196, 29, 0.1));
}

.hero__trophy {
  width: 240px;
}
@media screen and (max-width: 960px) {
  .hero__trophy {
    width: 160px;
  }
}

.hero__bg-money {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  z-index: -500;
}

.result {
  padding-top: 0px;
}
.result h3, .result p {
  text-align: center;
}
.result > img {
  width: 936px;
  height: 607px;
}

.best {
  overflow: visible;
  padding-top: 32px;
  padding-bottom: 48px;
}
.best span {
  background: linear-gradient(220.94deg, #68d250 14.43%, #2e9a18 85.28%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.best__bg-card {
  width: 1216px;
  height: 360px;
  border-radius: 50px;
  background-color: rgba(252, 255, 252, 0.7);
}
.best__bg-card .best__icon-arrow {
  position: absolute;
  top: 0;
}

.best__card {
  width: 100%;
  gap: 15%;
  z-index: 10;
}
.best__card p {
  font-weight: bold;
}

.best__reason {
  gap: 72px;
}
.best__reason svg {
  filter: drop-shadow(0px 51px 80px rgba(60, 196, 29, 0.3));
  transition: 0.5s ease;
  cursor: pointer;
}
.best__reason svg:hover {
  transform: scale(1.05);
}

.reason {
  gap: 184px;
  align-items: flex-start;
}
.reason span {
  background: linear-gradient(220.94deg, #68d250 14.43%, #2e9a18 85.28%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.reason__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}
.reason__list svg {
  width: 45px;
  height: 45px;
  filter: drop-shadow(0px 51px 80px rgba(60, 196, 29, 0.3));
}
.reason__list p {
  font-size: 24px;
  line-height: 140%;
}

.reason_cell {
  width: 328px;
}

.action p {
  text-align: center;
}

footer {
  background-color: #3cc41d;
}

.footer {
  justify-content: space-between;
  padding-top: 24px;
  padding-bottom: 24px;
}

h1 {
  color: #232422;
  font-family: "Sora", sans-serif;
  font-size: 64px;
  line-height: 100%;
}
@media screen and (max-width: 960px) {
  h1 {
    font-family: "Sora", sans-serif;
    font-size: 36px;
    line-height: 100%;
  }
}

h2 {
  color: #232422;
  font-family: "Sora", sans-serif;
  font-size: 48px;
  line-height: 100%;
}
@media screen and (max-width: 960px) {
  h2 {
    font-family: "Sora", sans-serif;
    font-size: 36px;
    line-height: 100%;
  }
}

h3 {
  color: #232422;
  font-family: "Sora", sans-serif;
  font-size: 36px;
  line-height: 120%;
}
@media screen and (max-width: 960px) {
  h3 {
    font-family: "Sora", sans-serif;
    font-size: 24px;
    line-height: 120%;
  }
}

h4 {
  color: #232422;
  font-family: "Sora", sans-serif;
  font-size: 24px;
  line-height: 130%;
}
@media screen and (max-width: 960px) {
  h4 {
    font-family: "Sora", sans-serif;
    font-size: 18px;
    line-height: 130%;
  }
}

h5 {
  text-transform: uppercase;
  background: linear-gradient(220.94deg, #68D250 14.43%, #2E9A18 85.28%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  font-family: "Sora", sans-serif;
  font-size: 18px;
  line-height: 140%;
}
@media screen and (max-width: 960px) {
  h5 {
    font-family: "Sora", sans-serif;
    font-size: 16px;
    line-height: 150%;
  }
}

p {
  color: #626762;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  line-height: 140%;
}
@media screen and (max-width: 960px) {
  p {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 16px;
    line-height: 150%;
  }
}

.body-1 {
  color: #626762;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 32px;
  line-height: 130%;
}
@media screen and (max-width: 960px) {
  .body-1 {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 24px;
    line-height: 130%;
  }
}

.bold {
  font-weight: bold;
  color: #3a3b39;
}

strong {
  color: #232422;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  line-height: 140%;
}
@media screen and (max-width: 960px) {
  strong {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 16px;
    line-height: 150%;
  }
}

.text-center {
  text-align: center;
}

.btn {
  background: linear-gradient(220.94deg, #68D250 14.43%, #2E9A18 85.28%);
  border-radius: 16px;
  text-decoration: none;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  line-height: 140%;
  color: #fcfffc;
  padding: 16px 64px;
  transition: 0.3s ease;
  box-shadow: 0px 51px 80px rgba(60, 196, 29, 0.1), 0px 15.375px 24.1177px rgba(60, 196, 29, 0.07), 0px 6.38599px 10.0172px rgba(60, 196, 29, 0.05), 0px 2.30969px 3.62304px rgba(60, 196, 29, 0.03);
}
.btn:hover {
  box-shadow: 0px 0px 100px rgba(60, 196, 29, 0.6), 0px 0px 24.1177px rgba(60, 196, 29, 0.5), 0px 0px 10.0172px rgba(60, 196, 29, 0.3), 0px 0px 3.62304px rgba(60, 196, 29, 0.15);
  transform: scale(1.02);
  opacity: 0.9;
}

a {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  line-height: 140%;
  text-decoration: none;
  color: #232422;
  transition: 0.5s ease;
}
a:hover {
  opacity: 0.9;
}

.link {
  display: inline-block;
  color: #3cc41d;
  background-image: url("../../svg/icon-arrow.svg");
  background-repeat: no-repeat;
  background-position: 0% 50%;
  font-size: 18px;
  transition: 0.5s ease;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 40px;
  padding-right: 16px;
  position: relative;
}
.link:after {
  content: "";
  position: absolute;
  top: 75%;
  left: 56px;
  width: 0%;
  height: 2px;
  z-index: -1;
  transition: 0.5s ease;
  background: linear-gradient(220.94deg, #68D250 14.43%, #2E9A18 85.28%);
}
.link:hover {
  opacity: 0.8;
  padding-left: 64px;
  background-position: 8px 50%;
}
.link:hover:after {
  width: 90%;
}

.s-0 {
  margin: 0;
  padding: 0;
}

.m-1 {
  margin: 8px;
}

.m-2 {
  margin: 16px;
}

.m-3 {
  margin: 48px;
}

.m-4 {
  margin: 72px;
}

.m-5 {
  margin: 128px;
}

.mt-1 {
  margin-top: 8px;
}

.mt-2 {
  margin-top: 16px;
}

.mt-3 {
  margin-top: 48px;
}

.mt-4 {
  margin-top: 72px;
}

.mt-5 {
  margin-top: 128px;
}

.mt-6 {
  margin-top: 32px;
}

.mt-7 {
  margin-top: 56px;
}

.ml-1 {
  margin-left: 8px;
}

.ml-2 {
  margin-left: 16px;
}

.ml-3 {
  margin-left: 48px;
}

.ml-4 {
  margin-left: 72px;
}

.ml-5 {
  margin-left: 128px;
}

.mr-1 {
  margin-right: 8px;
}

.mr-2 {
  margin-right: 16px;
}

.mr-3 {
  margin-right: 48px;
}

.mr-4 {
  margin-right: 72px;
}

.mr-5 {
  margin-right: 128px;
}

.mb-1 {
  margin-bottom: 8px;
}

.mb-2 {
  margin-bottom: 16px;
}

.mb-3 {
  margin-bottom: 48px;
}

.mb-4 {
  margin-bottom: 72px;
}

.mb-5 {
  margin-bottom: 128px;
}

.mx-1 {
  margin-left: 8px;
  margin-right: 8px;
}

.mx-2 {
  margin-left: 16px;
  margin-right: 16px;
}

.mx-3 {
  margin-left: 48px;
  margin-right: 48px;
}

.mx-4 {
  margin-left: 72px;
  margin-right: 72px;
}

.mx-5 {
  margin-left: 128px;
  margin-right: 128px;
}

.my-1 {
  margin-top: 8px;
  margin-bottom: 8px;
}

.my-2 {
  margin-top: 16px;
  margin-bottom: 16px;
}

.my-3 {
  margin-top: 48px;
  margin-bottom: 48px;
}

.my-4 {
  margin-top: 72px;
  margin-bottom: 72px;
}

.my-5 {
  margin-top: 128px;
  margin-bottom: 128px;
}

.p-1 {
  padding: 8px;
}

.p-2 {
  padding: 16px;
}

.p-3 {
  padding: 48px;
}

.p-4 {
  padding: 72px;
}

.p-5 {
  padding: 128px;
}

.pt-1 {
  padding-top: 8px;
}

.pt-2 {
  padding-top: 16px;
}

.pt-3 {
  padding-top: 48px;
}

.pt-4 {
  padding-top: 72px;
}

.pt-5 {
  padding-top: 128px;
}

.pl-1 {
  padding-left: 8px;
}

.pl-2 {
  padding-left: 16px;
}

.pl-3 {
  padding-left: 48px;
}

.pl-4 {
  padding-left: 72px;
}

.pl-5 {
  padding-left: 128px;
}

.pr-1 {
  padding-right: 8px;
}

.pr-2 {
  padding-right: 16px;
}

.pr-3 {
  padding-right: 48px;
}

.pr-4 {
  padding-right: 72px;
}

.pr-5 {
  padding-right: 128px;
}

.pb-1 {
  padding-bottom: 8px;
}

.pb-2 {
  padding-bottom: 16px;
}

.pb-3 {
  padding-bottom: 48px;
}

.pb-4 {
  padding-bottom: 72px;
}

.pb-5 {
  padding-bottom: 128px;
}

.px-1 {
  padding-left: 8px;
  padding-right: 8px;
}

.px-2 {
  padding-left: 16px;
  padding-right: 16px;
}

.px-3 {
  padding-left: 48px;
  padding-right: 48px;
}

.px-4 {
  padding-left: 72px;
  padding-right: 72px;
}

.px-5 {
  padding-left: 128px;
  padding-right: 128px;
}

.py-1 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.py-2 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.py-3 {
  padding-top: 48px;
  padding-bottom: 48px;
}

.py-4 {
  padding-top: 72px;
  padding-bottom: 72px;
}

.py-5 {
  padding-top: 128px;
  padding-bottom: 128px;
}

.gap-1 {
  gap: 8px;
}

.gap-2 {
  gap: 16px;
}

.gap-3 {
  gap: 24px;
}

.gap-4 {
  gap: 32px;
}

.gap-5 {
  gap: 40px;
}

.gap-6 {
  gap: 48px;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow-y: visible;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: #f1f1f1;
}

svg {
  width: 100%;
}

img {
  width: 100%;
}

.border {
  border: 1px solid red;
}

header {
  width: 100%;
  background-color: transparent;
  box-shadow: 0 0 0 rgba(255, 255, 255, 0);
  transition: 0.5s ease;
  z-index: 800;
  position: fixed;
}

.active-header {
  background-color: #f6fff6;
  box-shadow: 0px 51px 80px rgba(60, 196, 29, 0.1), 0px 15.375px 24.1177px rgba(60, 196, 29, 0.07), 0px 6.38599px 10.0172px rgba(60, 196, 29, 0.05), 0px 2.30969px 3.62304px rgba(60, 196, 29, 0.03);
  position: fixed;
}

.navbar-desktop {
  max-width: 1440px;
  margin: 0 auto;
  padding: 10px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 960px) {
  .navbar-desktop {
    justify-content: center;
  }
}

.box {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0px 24px;
}

.swiper {
  width: 600px;
  height: 300px;
}

.container-swiper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 96px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: relative;
}

.button-next {
  position: absolute;
  right: 32px;
  top: 24px;
  width: 36px;
  height: 36px;
  cursor: pointer;
  background-image: url("../svg/icon-arrow.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.button-prev {
  position: absolute;
  right: 88px;
  top: 24px;
  width: 36px;
  height: 36px;
  cursor: pointer;
  background-image: url("../svg/icon-arrow.svg");
  background-repeat: no-repeat;
  background-position: center center;
  transform: rotate(180deg);
}

.swiper-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.swiper-slide {
  max-width: 420px;
  padding: 24px 36px;
  border-radius: 50px;
  background-color: #f6fff6;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
}

.photo-profile {
  width: 56px;
  height: 56px;
  background-repeat: no-repeat;
  background-size: cover;
}

.photo-1 {
  background-image: url("../../svg/icon-user.svg");
}

.photo-2 {
  background-image: url("../../svg/icon-user.svg");
}

.photo-3 {
  background-image: url("../../svg/icon-user.svg");
}

.photo-4 {
  background-image: url("../../svg/icon-user.svg");
}

.photo-5 {
  background-image: url("../../svg/icon-user.svg");
}

.photo-6 {
  background-image: url("../../svg/icon-user.svg");
}

svg {
  margin: 0 auto;
}

.icon-earn {
  width: 140px;
  height: 140px;
  position: absolute;
  top: 52%;
  right: -20%;
  filter: drop-shadow(0px 51px 80px rgba(60, 196, 29, 0.3));
}

.icon-safe {
  width: 140px;
  height: 140px;
  position: absolute;
  top: 12%;
  right: 85%;
  filter: drop-shadow(0px 51px 80px rgba(60, 196, 29, 0.3));
}

.money-2 {
  z-index: -5;
  -webkit-animation: money-move 1.7s linear infinite;
          animation: money-move 1.7s linear infinite;
}

.money-13 {
  z-index: -5;
  -webkit-animation: money-move 2s linear infinite;
          animation: money-move 2s linear infinite;
}

.money-8 {
  z-index: -5;
  -webkit-animation: money-move 2.5s linear infinite;
          animation: money-move 2.5s linear infinite;
}

.money-7 {
  z-index: -5;
  -webkit-animation: money-move 3s linear infinite;
          animation: money-move 3s linear infinite;
}

.money-5 {
  z-index: -5;
  -webkit-animation: money-move 3.5s linear infinite;
          animation: money-move 3.5s linear infinite;
}

.money-14 {
  z-index: -5;
  -webkit-animation: money-move 4s linear infinite;
          animation: money-move 4s linear infinite;
}

.money-4 {
  z-index: -5;
  -webkit-animation: money-move 4.5s linear infinite;
          animation: money-move 4.5s linear infinite;
}

.money-10 {
  z-index: -5;
  -webkit-animation: money-move 5s linear infinite;
          animation: money-move 5s linear infinite;
}

.money-11 {
  z-index: -5;
  -webkit-animation: money-move 5.5s linear infinite;
          animation: money-move 5.5s linear infinite;
}

.money-6 {
  z-index: -5;
  -webkit-animation: money-move 6s linear infinite;
          animation: money-move 6s linear infinite;
}

.money-12 {
  z-index: -5;
  -webkit-animation: money-move 6.5s linear infinite;
          animation: money-move 6.5s linear infinite;
}

.money-8 {
  z-index: -5;
  -webkit-animation: money-move 7s linear infinite;
          animation: money-move 7s linear infinite;
}

.money-1 {
  z-index: -5;
  -webkit-animation: money-move 7.5s linear infinite;
          animation: money-move 7.5s linear infinite;
}

.money-9 {
  z-index: -5;
  -webkit-animation: money-move 8s linear infinite;
          animation: money-move 8s linear infinite;
}

.money-3 {
  z-index: -5;
  -webkit-animation: money-move 8.5s linear infinite;
          animation: money-move 8.5s linear infinite;
}

.money-15 {
  z-index: -5;
  -webkit-animation: money-move 9s linear infinite;
          animation: money-move 9s linear infinite;
}

@-webkit-keyframes money-move {
  from {
    transform: translateY(-10vh);
  }
  to {
    transform: translateY(120vh);
  }
}

@keyframes money-move {
  from {
    transform: translateY(-10vh);
  }
  to {
    transform: translateY(120vh);
  }
}
.ball-1 {
  z-index: -10;
  position: absolute;
  top: -20%;
  right: 35%;
  -webkit-animation: ball 4s linear 1s infinite alternate;
          animation: ball 4s linear 1s infinite alternate;
}

.ball-2 {
  position: absolute;
  z-index: -10;
  bottom: -30%;
  right: 10%;
  -webkit-animation: ball 4s linear 1.5s infinite alternate;
          animation: ball 4s linear 1.5s infinite alternate;
}

.ball-3 {
  position: absolute;
  z-index: -10;
  bottom: -7%;
  left: 50%;
  -webkit-animation: ball 4s linear 0.5s infinite alternate;
          animation: ball 4s linear 0.5s infinite alternate;
}

@-webkit-keyframes ball {
  from {
    transform: translate(0, -40px);
  }
  to {
    transform: translate(-40px, 40px);
  }
}

@keyframes ball {
  from {
    transform: translate(0, -40px);
  }
  to {
    transform: translate(-40px, 40px);
  }
}/*# sourceMappingURL=style.css.map */