// ANIMATIONS HERO

.money-1 {
	position: absolute;
	top: -10px;

	z-index: -5;

	animation: money-move 4.5s linear infinite;
}

.money-2 {
	position: absolute;
	top: -120px;
	z-index: -5;

	animation: money-move 4s linear infinite;
}

.money-3 {
	position: absolute;
	top: -50px;
	z-index: -5;

	animation: money-move 3s linear infinite;
}

.money-4 {
	position: absolute;
	top: -40px;
	z-index: -5;

	animation: money-move 2.5s linear infinite;
}

.money-5 {
	position: absolute;
	top: -60px;
	z-index: -5;

	animation: money-move 1.5s linear infinite;
}

@keyframes money-move {
	from {
		transform: translateY(-10vh);
	}
	to {
		transform: translateY(100vh);
	}
}
