.btn {
  background: linear-gradient(220.94deg, #68D250 14.43%, #2E9A18 85.28%);
  border-radius: 16px;
  text-decoration: none;
  @include typeface-2(p2, desktop);
  color: $white-light;

  padding: 16px 64px;

  transition: 0.3s ease;

  box-shadow: 0px 51px 80px rgba(60, 196, 29, 0.1), 0px 15.375px 24.1177px rgba(60, 196, 29, 0.07), 0px 6.38599px 10.0172px rgba(60, 196, 29, 0.05), 0px 2.30969px 3.62304px rgba(60, 196, 29, 0.03);

  &:hover {
    box-shadow: 0px 0px 100px rgba(60, 196, 29, 0.6), 0px 0px 24.1177px rgba(60, 196, 29, 0.5), 0px 0px 10.0172px rgba(60, 196, 29, 0.3), 0px 0px 3.62304px rgba(60, 196, 29, 0.15);
    transform: scale(1.02);
    opacity: 0.9;
  }

}

a {
  @include typeface-2(p2, desktop);
  text-decoration: none;
  color: $black-normal;
  transition: 0.5s ease;

  &:hover {
    opacity: 0.9;
  }
}

.link {
  display: inline-block;

  color: $primary-normal;
  background-image: url("../../svg/icon-arrow.svg");
  background-repeat: no-repeat;
  background-position: 0% 50%;
  font-size: 18px;

  transition: 0.5s ease;

  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 40px;
  padding-right: 16px;

  position: relative;

  &:after {
    content: "";
    position: absolute;
    top: 75%;
    left: 56px;

    width: 0%;
    height: 2px;
    z-index: -1;

    transition: 0.5s ease;

    background: linear-gradient(220.94deg, #68D250 14.43%, #2E9A18 85.28%);
  }

  &:hover {
    opacity: 0.8;
    padding-left: 64px;
    background-position: 8px 50%;

    &:after {
      width: 90%;
    }
  }
}