// Colors of project

// Brand-colors
$primary-normal: #3CC41D;
$primary-dark: #2E9A18;
$primary-light: #68D250; 

$secondary-normal: #1E794D;
$secondary-dark: #519977;
$secondary-light: #175F3D;

// Neutral-colors
$black-normal: #232422;
$black-dark: #131612;
$black-light: #3A3B39;

$white-normal: #F6FFF6;
$white-dark: #F1F1F1;
$white-light: #FCFFFC;

// Gray Scale
$gray-1: #444644;
$gray-2: #4E514E;
$gray-3: #585C58;
$gray-4: #626762;
$gray-5: #6C726C;
$gray-6: #767D76;
$gray-7: #808880;

// Auxiliary colors
$red-normal: #eb3d3d;
$red-dark: #d03333;
$red-light: #f05454;

$green-normal: #32d957;
$green-dark: #28bb49;
$green-light: #50e170;

$yellow-normal: #ffce52;
$yellow-dark: #d9b043;
$yellow-light: #ffd76b;
