// Layout of project

// Container-devices
$container-xl: 1440px;
$container-l: 1140px;
$container-m: 960px;
$container-s: 540px;

// Mixin of media-queries
@mixin responsive($device) {
  @if $device == xl {
    // For resolutions upper 1440px
    @media screen and (min-width: $container-xl) {
      @content;
    }
  } @else if $device == l {
    // For resolutions between 1140px and 1440px
    @media screen and (max-width: $container-xl) and (min-width: $container-l) {
      @content;
    }
  } @else if $device == m {
    // For resolutions between 960px and 1440px
    @media screen and (max-width: $container-l) and (min-width: $container-s) {
      @content;
    }
  } @else if $device == s {
    // For resolutions less than 960px
    @media screen and (max-width: $container-m) {
      @content;
    }
  } @else if $device == xs {
    // For resolutions less than 540px
    @media screen and (max-width: $container-s) {
      @content;
    }
  }
}

.container {
  max-width: $container-xl;
  margin: 0 auto;

  padding: 96px 24px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  overflow: hidden;

  @include responsive(s) {
    flex-direction: column;

    padding: 32px 18px;
  }
}

.flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;  
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.justify-between{
  justify-content: space-between;
}

.relative {
  position: relative;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-item-1 {
  flex: 1 1 360px;
}

.flex-item-2 {
  flex: 2 1 360px;
}

.flex-item-3 {
  flex: 3 1 360px;
}

.flex-item-4 {
  flex: 4 1 360px;
}

.flex-item-5 {
  flex: 5 1 360px;
}

.flex-auto {
  flex: 1 1 auto;
}

// Width'

.width-auto {
  width: auto;
}
.w-100 {
  width: 100%;
}
.w-75 {
  width: 75%;
}
.w-50 {
  width: 50%;
}
.w-25 {
  width: 25%;
}

.hidden {
  overflow: hidden;
}

.mobile-none{
  @include responsive(s){
    display: none;
  }
}

.hero {
  padding-top: 160px;
  padding-bottom: 40px;
  overflow: visible;

  @include responsive(s) {
    height: auto;
  }
}

.hero__bet-score{

  h4{
    font-weight: 300;
  }

  svg{
    width: 28px;
    height: 28px;
    
    filter:drop-shadow(0px 51px 80px rgba(60, 196, 29, 0.1));
  }
}

.hero__trophy{
  width: 240px;

  @include responsive(s){
    width: 160px;
  }
}

.hero__bg-money{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;

  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  
  z-index: -500;
}

.result{

  h3, p{
    text-align: center;
  }

  padding-top: 0px;

  > img{
    width: 936px;
    height: 607px;
  }

}

.best{
  span{
    background: $gradient-1;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }

  overflow: visible;

  padding-top: 32px;
  padding-bottom: 48px;
}

.best__bg-card{

  width: 1216px;
  height: 360px;

  border-radius: 50px;

  background-color: rgba(252, 255, 252, 0.7);

  .best__icon-arrow{
    position: absolute;

    top: 0;
  }
}

.best__card{

  width: 100%;
 
  gap: 15%;

  z-index: 10;

  p{
    font-weight: bold;
  }

}

.best__reason{
  gap: 72px;

  svg{
    filter:drop-shadow(0px 51px 80px rgba(60, 196, 29, 0.3));
    transition: 0.5s ease;

    cursor: pointer;

    &:hover {

        transform: scale(1.05);
    }
  }

}

.reason{
  span{
    background: $gradient-1;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }

  gap: 184px;
  align-items: flex-start;
}

.reason__list{

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  svg{
    width: 45px;
    height: 45px;

    filter:drop-shadow(0px 51px 80px rgba(60, 196, 29, 0.3));
  }

  p{
    font-size: 24px;
    line-height: 140%;
  }

  text-align: left;
}

.reason_cell{
  width: 328px;
  
}

.action{
  p{
    text-align: center;
  }

}

footer{
  background-color: $primary-normal;

  
}

.footer{
  justify-content: space-between;

  padding-top: 24px;
  padding-bottom: 24px;
}

.contribution-container{
  background-color: $black-light;
}

.contribution{

  justify-content: space-between;

  a,p{
    color: $white-dark;
  }

  p{
    font-weight: 300;
  }

  a{
    font-weight: 400;
  }
}